<ion-content>
  <div class="bgbb"></div>
  <div class="container">
    <div class="logobb"></div>
    <div class="list">
      <a class="box" href="characters">
        <div class="element">
          <h2>Ch</h2>
        </div>
        <h3>aracters</h3>
      </a>
      <a class="box" href="episodes">
        <div class="element">
          <h2>Ep</h2>
        </div>
        <h3>isodes</h3>
      </a>
      <a class="box" href="quotes">
        <div class="element">
          <h2>Qu</h2>
        </div>
        <h3>otes</h3>
      </a>
      <a class="box" href="deaths">
        <div class="element">
          <h2>De</h2>
        </div>
        <h3>aths</h3>
      </a>
    </div>
  </div>
</ion-content>